.App {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.App footer {
  font-size: 12px;
}

.App a {
  color: rgb(247, 92, 208);
}
/* ------- RESPONSIVE DESIGN ----------- */

/*  RESPONSIVE DESIGN (large cell phones) */
@media screen and (max-width: 425px) {
  #main-container {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .App footer {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

/*  RESPONSIVE DESIGN (narrow cell phones) */
@media screen and (max-width: 350px) {
  #main-container {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .App footer {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
