.WeatherForecast {
  text-align: center;
}

.WeatherForecast .card-body {
  padding: 8px;
}

.WeatherForecast .WeatherForecast-heading {
  margin-top: 24px;
  text-align: left;
}

.WeatherHourlyForecast .WeatherForecast-heading {
  margin-top: 180px;
}

.WeatherForecast .WeatherForecast-heading {
  color: white;
  font-size: 22px;
  text-shadow: 1px 0px 2px black;
}

.WeatherHourlyForecast .WeatherForecast-hour {
  font-size: 18px;
  font-weight: bold;
}

.WeatherDailyForecast .WeatherForecast-day {
  font-size: 18px;
  font-weight: bold;
}

.WeatherForecast .WeatherForecast-icon {
  font-size: 56px;
}

.WeatherForecast .WeatherForecast-temperature {
  font-size: 18px;
  margin-bottom: 0;
}
