.Weather {
  background-image: url("./pexels-soly-moses-5897476.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  border-radius: 25px;
  margin: 30px auto 10px;
  max-height: 800px;
  min-height: 800px;
  padding: 24px;
}

.Weather form {
  display: block;
  margin: 8px auto;
}

.Weather input {
  border-radius: 8px;
  border-width: 0px;
  margin: 4px;
  padding: 4px 8px;
}

.Weather h1 {
  color: white;
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.Weather h2 {
  color: darkblue;
  font-size: 15px;
  font-weight: 700;
  margin-top: 8px;
  margin-left: 0;
  text-shadow: 0 0 7px white;
}

.Weather .current-weather-description {
  font-size: 24px;
  margin: 0 auto;
}
.Weather .current-temperature {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  top: -16px;
}

.Weather .unit {
  padding: 0;
}

.weather-icon .wi {
  color: black;
  font-size: 62px;
  position: relative;
  left: -48px;
  bottom: -24px;
}

.weather-icon .wi.day {
  color: #fff5b7;
  text-shadow: 1px 0 2px #005f99;
}

.weather-icon .wi.night {
  color: #4a47a3;
  text-shadow: 1px 0 2px #fb9300;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  text-align: left;
}

.Weather footer {
  font-size: 12px;
}

.Weather a {
  color: rgb(247, 92, 208);
}

.Weather #loader {
  margin: 0 auto;
}

/* ------- RESPONSIVE DESIGN ----------- */

/*  RESPONSIVE DESIGN (large cell phones) */
@media screen and (max-width: 425px) {
  .Weather {
    margin: 0;
  }

  .Weather .current-weather-description {
    font-size: 20px;
    margin: 0 auto;
  }

  .Weather .current-temperature {
    font-size: 44px;
    font-weight: bold;
    position: relative;
    top: -12px;
  }

  .Weather .unit {
    position: relative;
    right: -15px;
  }

  .Weather .unit {
    font-size: 15px;
    padding: 0;
  }

  .WeatherChangeUnits #celsius,
  .WeatherChangeUnits #fahrenheit {
    margin: 0;
    height: 12px;
    width: 12px;
  }

  .weather-icon .wi {
    font-size: 58px;
    position: relative;
    left: -35px;
    bottom: -18px;
  }
}

/* RESPONSIVE DESIGN (narrow cell phones) */

@media screen and (max-width: 350px) {
  .Weather {
    margin: 0;
  }

  .Weather input {
    max-width: 150px;
  }

  .Weather h1 {
    font-size: 18px;
  }

  .Weather h2 {
    font-size: 13px;
  }

  .Weather .current-weather-description {
    font-size: 18px;
    margin: 0 auto;
  }

  .Weather .current-temperature {
    font-size: 34px;
    font-weight: bold;
    position: relative;
    top: -11px;
  }

  .Weather .unit {
    font-size: 12px;
    padding: 0;
    position: relative;
    right: -10px;
  }

  .WeatherChangeUnits #celsius,
  .WeatherChangeUnits #fahrenheit {
    margin: 0;
    height: 10px;
    width: 10px;
  }

  .weather-icon .wi {
    font-size: 46px;
    position: relative;
    left: -32px;
    bottom: -18px;
  }

  .Weather h3 {
    font-size: 17px;
  }
}
